<!-- templates/registration/login.html -->

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <!-- Assurez-vous que le tag {% load static %} est utilisé -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'centres/css/style.css' %}">
</head>
<body>
    <h2>Connexion</h2>
    <!-- Formulaire de connexion -->
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
    </form>
</body>
</html>
