<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Yam Academy{% endblock %}</title>
    {% load static %} <!-- Cette ligne doit être présente -->
    <link rel="stylesheet" href="{% static 'centres/css/style.css' %}"> <!-- Assurez-vous que ce chemin est correct -->
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'centres:home' %}">Accueil</a></li>
                <li><a href="{% url 'centres:centre_list' %}">Centres</a></li>
                <li><a href="{% url 'centres:formation_list' %}">Formations</a></li>
                <li><a href="{% url 'centres:session_list' %}">Sessions</a></li>
                <li><a href="{% url 'centres:commentaire_list' %}">Commentaires</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Déconnexion</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Connexion</a></li>
                    <li><a href="{% url 'centres:register' %}">Inscription</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Yam Academy - Tous droits réservés.</p>
    </footer>
</body>
</html>
