<!DOCTYPE html>
<html>
<head>
    <title>Page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur le site de gestion des formations</h1>
    <nav>
        <ul>
            <li><a href="{% url 'centre_list' %}">Centres de Formation</a></li>
            <li><a href="{% url 'personne_list' %}">Personnes</a></li>
            <li><a href="{% url 'formation_list' %}">Formations</a></li>
            <li><a href="{% url 'session_list' %}">Sessions de Formation</a></li>
            <li><a href="{% url 'commentaire_list' %}">Commentaires</a></li>
        </ul>
    </nav>
</body>
</html>
