<!DOCTYPE html>
<html>
<head>
    <title>Liste des sessions de formation</title>
</head>
<body>
    <h1>Liste des sessions de formation</h1>
    <ul>
        {% for session in sessions %}
            <li>
                <a href="{% url 'session_detail' session.pk %}">{{ session.formation.titre }} - {{ session.date_debut }}</a>
                <p>Lieu: {{ session.lieu }}</p>
                <p>Formateur: {{ session.formateur.prenom }} {{ session.formateur.nom }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
