/* Style global pour la police et la couleur de fond */
body {
    font-family: 'Roboto', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header .logo {
    width: 100px;  /* Taille ajustée pour le logo */
    height: auto; /* Maintient le ratio de l'image */
    max-height: 100px; /* Limite la hauteur maximale à 50 pixels */
    display: inline-block;
    vertical-align: middle; /* Aligne verticalement le logo avec le texte du site */
    object-fit: contain; /* Garde le rapport hauteur/largeur de l'image */
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.brand-name {
    font-size: 1.5em;
    color: #007bff;
    font-weight: bold;
}

.header-image {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #a8dadc;
}

.welcome-section {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.feature-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.feature-title {
    display: block;
    font-size: 1.5em;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    transition: color 0.3s, transform 0.3s;
}

.feature-title:hover {
    color: #0056b3;
    transform: scale(1.05);
}

.feature-description {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

.comment-section {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.comment-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item p {
    margin: 5px 0;
}

.comment-item strong {
    color: #007bff;
    font-weight: bold;
}

/* Mise en page réactive */
@media (max-width: 768px) {
    .features {
        flex-direction: column;
        align-items: center;
    }

    .feature-card {
        max-width: 100%;
    }
}
