/* Style global pour la police et la couleur de fond */
body {
    font-family: 'Roboto', sans-serif; /* Utilisation d'une police moderne */
    color: #333;
    background-color: #f9f9f9; /* Fond légèrement plus clair pour l'ensemble de la page */
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    width: 100%;
    height: auto;
    border-bottom: 5px solid #a8dadc; /* Ajout d'une bordure colorée pour le bas de l'image */
}

.welcome-section {
    text-align: center;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
}

.feature-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Masque le débordement du contenu */
    max-width: 300px;
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.feature-title {
    display: block;
    font-size: 1.5em;
    color: #007bff; /* Couleur bleu vif pour le titre */
    text-decoration: none; /* Enlève la décoration des liens */
    margin-bottom: 10px;
    transition: color 0.3s; /* Effet de transition pour le survol */
}

.feature-title:hover {
    color: #0056b3; /* Couleur du titre au survol */
}

.feature-description {
    font-size: 1em;
    line-height: 1.5; /* Améliore la lisibilité du texte */
    color: #555; /* Couleur du texte descriptif */
}

.comment-section {
    padding: 30px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.comment-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 0;
}

.comment-item:last-child {
    border-bottom: none;
}

.comment-item p {
    margin: 5px 0;
}

.comment-item strong {
    color: #007bff; /* Couleur du nom de l'auteur */
    font-weight: bold;
}
